.background-video {
    position: relative;
    width: 100%;
    height: 140vh; /* Adjust as needed */
    overflow: hidden;
    opacity: 0.85;
    border-radius: 50px 50px 0px 0px;
  }
  
  .background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
  }
  
  .overlay-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Style the overlay content as needed */
  }
  .Images{
    width:300px;
    height: 300px;
    margin: 10px;
    border-radius: 3px ;
    transition-property: box-shadow, width, height;
    transition-duration: 200ms;
  }

  .Images:hover{
    box-shadow: 3px 4px 10px #918a8a;
    width: 340px;
    height: 340px;

  }
  .Imagescontainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .large {
    font-size: 5rem;
  }
  
  .small {
    font-size: 3rem;
  }
  
  .rise {
    text-shadow: -0.01em -0.01em 0.01em #000000;
    animation: rise 2s ease-in-out 0.5s forwards;
  }
  
  @keyframes rise {
    to {
      text-shadow: 0em 0.01em rgb(255, 255, 255), 0em 0.02em rgb(109, 109, 54), 0em 0.02em 0.03em rgb(99, 16, 155),
        -0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
        -0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
        -0.03em -0.03em 0.03em #000;
      transform: translateY(-0.025em) translateX(0.04em);
    }
  }
  
  .outline {
    background-clip: text;
    color: #ffffff;
    animation: outline 1s ease-in-out 1.5s forwards;
  }
  
  @keyframes outline {
    from {
      text-shadow: 0em -7em 10em #fff;
    }
    to {
      text-shadow: 0 0.03em #080808, 0.03em 0 #faefef, -0.04em 0 #030303, 0 -0.02em #f7f7f7;
    }
  }
  