h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
img{
    width:600px;
    margin-left: 40px;
    box-shadow: 4px 4px 4px #978e8edd;
}
.para{
    width:60%;
    margin-left: 40px;
}
#funfact{
    position: absolute;
    text-align: center;
    width: 250px;
    border-radius: 19px;
    border: solid ;
    top: 190px;
    right: 10px;
}
